.m-footbar {
    background-color: blueviolet;
    grid-area: m-footbar;
    padding-bottom: env(safe-area-inset-bottom);

    display: flex;
}

.m-footbar .navigation {
    flex: 1;
}


@media screen and (min-width: 649px) {
    .m-footbar {
        display: none;
    }
}