@import url("style.css");

.m-titlebar {
    background-color: color-mix(in srgb, var(--theme-color) 90%, #ffffff00 10%);
    backdrop-filter: blur(0.5em);
    grid-area: m-titlebar;
    padding-top: env(safe-area-inset-top);
    overflow: hidden;
    z-index: 1;

    display: flex;

    transition:
        height ease 0.2s;
}

.m-titlebar[animation=display] {
    height: 3.25em;
}

.m-titlebar[animation=hidden] {
    height: 0;
}

@media screen and (min-width: 649px) {
    .m-titlebar {
        display: none;
    }
}