.m-titlebar {
    background-color: blueviolet;
    grid-area: m-titlebar;
    padding-top: env(safe-area-inset-top);

    display: flex;
}

@media screen and (min-width: 649px) {
    .m-titlebar {
        display: none;
    }
}