:root {
    --theme-color: #1e59a8;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

.window-main-view {
    grid-area: body;
    height: 100%;
    width: 100%;
    position: relative;

    overflow: hidden;
}

.track-group {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffffc2;
}

.carousel-track {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    padding: 1em;
    overflow: auto;
    opacity: 0;
    transform: translateX(20%) scale(1);

    transition:
        opacity 1.5s cubic-bezier(0, 0, 0.58, 1),
        transform 1.5s cubic-bezier(0, 0, 0.58, 1);
}

.carousel-track[animation=covered] {
    opacity: 0;
    transform: translateX(0%) scale(0.96);

    transition:
        opacity 0.1s cubic-bezier(0.58, 0, 1, 1),
        transform 0.1s cubic-bezier(0.58, 0, 1, 1);
}

.carousel-track[animation=display] {
    opacity: 1;
    transform: translateX(0%) scale(1);

    transition:
        opacity 0.15s cubic-bezier(0, 0, 0.58, 1),
        transform 0.15s cubic-bezier(0, 0, 0.58, 1);
}

.carousel-track[animation=leave] {
    opacity: 0;
    transform: translateX(5%) scale(1);
}

@media screen and (max-width: 648px) {
    .window-main-view {
        grid-column: 2;
        grid-row: 2/5;
    }

    .carousel-track {
        padding: 0.5em;
        padding-top: calc(3.75em + env(safe-area-inset-top));
        padding-bottom: calc(3.75em + env(safe-area-inset-bottom));
    }

    .carousel-track[home] {
        padding-top: calc(0.5em + env(safe-area-inset-top));
    }
}