* {
    margin: 0;
    border: 0;
    padding: 0;
}

.window {
    height: 100vh;
    background-color: rgb(191, 156, 225);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "titlebar titlebar"
        "sidebar body"
        "footbar footbar";
}

.window-titlebar {
    grid-area: titlebar;
    height: env(safe-area-inset-top);
    background-color: blueviolet;
}

.window-main-view {
    grid-area: body;
    height: 100%;
    width: 100%;
    position: relative;

    overflow: hidden;
}

.track-group {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c8b1df;
}

.carousel-track {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    padding: 1em;
    overflow: auto;
    opacity: 0;
    transform: translateX(20%) scale(1);

    transition:
        opacity 1.5s cubic-bezier(0, 0, 0.58, 1),
        transform 1.5s cubic-bezier(0, 0, 0.58, 1);
}

.carousel-track[animation=left] {
    opacity: 0;
    transform: translateX(0%) scale(0.96);

    transition:
        opacity 0.1s cubic-bezier(0.58, 0, 1, 1),
        transform 0.1s cubic-bezier(0.58, 0, 1, 1);
}

.carousel-track[animation=center] {
    opacity: 1;
    transform: translateX(0%) scale(1);

    transition:
        opacity 0.15s cubic-bezier(0, 0, 0.58, 1),
        transform 0.15s cubic-bezier(0, 0, 0.58, 1);
}

.carousel-track[animation=right] {
    opacity: 0;
    transform: translateX(5%) scale(1);
}

@media screen and (max-width: 648px) {
    .carousel-track {
        padding: 0.5em;
    }
}